
footer{
	background-color: @main;
	bottom: 0;
	width: 100%;
	position: fixed;
 	text-align: center;	
  	z-index: 1;

	.containerAudio {
    text-align: center;
    margin:27px 0 0 0;
    vertical-align: middle;
    audio {
        width: 100%;
        background: none;  
        color:black;  
    }
}

.prebuttonContainer {
    .right-align();
}

.nextbuttonContainer {
    .left-align();
}

button {
    color: white;

}

button[disabled] {
    color: black;
}
