.audio{
 	text-align: center;
 	margin-top: 5px;	
}

footer{
	background-color: @main;
	bottom: 0;
	width: 100%;
	position: fixed;
 	text-align: center;	
}

button[disabled]{
	background-color: green;


}

