
.wrapper-brand {
    .left-align();
    padding-left: 10px;
}
header{
	position: fixed;
	width: 100%;
	background: @main;
	margin:0;
    z-index: 1;
}

.add-button {
    color: white;
}

.wrapper-icon {
    .right-align();
    padding: 10px 10px 0 0;
    i {
        color: @mark;
    }
}

.brand {
    font-size: 35px;
    font-family: @font-family-serif;
    font-weigth: bold;
    color: white;
}
