header{
	position: fixed;
	width: 100%;
	background: @main;
	margin:0;
}

.wrapper-brand{
	.left-align();
		padding-left: 10px;
}

.add-button{
	color:@white;

}

.wrapper-icon{
	.right-align();
	padding: 11px 10px 0 0;
}

.brand {
	font-size: 30px;
	font-family: @font-family-serif;
	font-weigth: bold;
	color: @white; 
}
